@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #fdfcff;
  // --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--foreground);
  // &.light-theme {
  //   background: var(--background);
  //   .page-container {
  //     background: var(--background);
  //   }
  // }
  // background: #1b2245;
  // .page-container {
  //   background: #1b2245;
  // }
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  cursor: pointer;
}

.docx-wrapper {
  display: block !important;
}
